* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* created a fade effect using opacity and centered everything inside it */
main {
  min-height: 100vh;
  background: linear-gradient(to right top, gray, black);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* created a fade effect using opacity */
.board {
  min-height: 80vh;
  background: white;
  width: 85%;
  border-radius: 50px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.2)
  );
}
#passwordSpace {
  border-radius: 50px;
  background-color: white;
  outline: none;
}
/*had to set the display here to flex so I could change the togglePassword to absolute*/
.form {
  padding: 5vh;
  display: flex;

  justify-content: center;
  border-radius: 50px;
}
.formBox {
  position: relative;
}
/* used this class to set the eye pic from the password checker */
.togglePassword {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 28px;
  right: 140px;
  cursor: pointer;
  border-radius: 50%;
}
.togglePassword.active i.fa-eye {
  display: none;
}
.togglePassword.active i.fa-eye-slash {
  display: inline;
}
.togglePassword i.fa-eye-slash {
  display: none;
}

.passPolicies {
  position: relative;
  background: white;
  padding: 0px;
  height: 0px;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
  box-sizing: border-box;
  transition: height 300ms ease-in-out, opacity 300ms ease-in-out;
  opacity: 0;
}

.passPolicies.active {
  opacity: 1;
  padding: 10px;
  height: 180px;
}
.passPolicies > div {
  margin: 15px 10px;
  font-weight: 600;
  color: #888;
  transition: all 300ms ease-in-out;
}
.passPolicies > div.active {
  color: #111;
}
img {
  border-radius: 50%;
}
#mybtn {
  display: flex;
}
#output {
  background: linear-gradient(to right top, gray, white);
  display: flex;
  padding: 20px;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 30px;
}
